/* Define the styles for the scrollbar track (the background) */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

/* Define the styles for the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #325aa5; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Rounded corners for the thumb */
  cursor: pointer;
}

/* Define the styles for the scrollbar track when it's hovered over */
::-webkit-scrollbar-thumb:hover {
  background: #1f3764; /* Color of the thumb on hover */
}

html {
  @apply text-base;
  scroll-behavior: smooth;
}
[lang="ar"] {
  --dir: rtl;
}
body {
  @apply bg-body font-third font-normal leading-relaxed text-text;
  direction: var(--dir);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-primary font-bold leading-tight text-dark;
}

h1,
.h1 {
  @apply font-primary text-h1-sm md:text-h1;
}

h2,
.h2 {
  @apply text-h2-sm md:text-h2;
}

h3,
.h3 {
  @apply text-h3-sm md:text-h3;
}

h4,
.h4 {
  @apply text-h4;
}

h5,
.h5 {
  @apply text-h5;
}

h6,
.h6 {
  @apply text-h6;
}

code {
  @apply before:hidden after:hidden;
}
