*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Define the styles for the scrollbar track (the background) */
::-webkit-scrollbar {
  width: 12px;
  /* Width of the scrollbar */
}

/* Define the styles for the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #325aa5;
  /* Color of the scrollbar thumb */
  border-radius: 6px;
  /* Rounded corners for the thumb */
  cursor: pointer;
}

/* Define the styles for the scrollbar track when it's hovered over */
::-webkit-scrollbar-thumb:hover {
  background: #1f3764;
  /* Color of the thumb on hover */
}

html {
  @apply text-base;
  scroll-behavior: smooth;
}

[lang="ar"] {
  --dir: rtl;
}

body {
  @apply bg-body font-third font-normal leading-relaxed text-text;
  direction: var(--dir);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-primary font-bold leading-tight text-dark;
}

h1,
.h1 {
  @apply font-primary text-h1-sm md:text-h1;
}

h2,
.h2 {
  @apply text-h2-sm md:text-h2;
}

h3,
.h3 {
  @apply text-h3-sm md:text-h3;
}

h4,
.h4 {
  @apply text-h4;
}

h5,
.h5 {
  @apply text-h5;
}

h6,
.h6 {
  @apply text-h6;
}

code {
  @apply before:hidden after:hidden;
}








/* Add this CSS in your styles file or component */
.portfolio-item {
  position: relative;
  height: 300px;
  /* Set your desired fixed height */
}

.portfolio-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  /* Dark overlay color */
  opacity: 0;
  display: flex;
  align-items: flex-end;
  transition: opacity 0.3s;
}

.portfolio-item:hover .overlay {
  opacity: 1;
}

.overlay-content {
  padding: 16px;
}

.name {
  color: #fff;
  font-size: 18px;
  margin: 0;
  transform: translateY(100%);
  transition: transform 0.3s;
}

.portfolio-item:hover .name {
  transform: translateY(0);
}

/* Add this CSS in your styles file or component */
.selected-category {
  border-color: #3182ce;
  /* Set your desired color for the selected category */
  background-color: #4299e1;
  /* Set your desired background color for the selected category */
  color: #fff;
  /* Set your desired text color for the selected category */
}

.selected-category:hover {
  background-color: #2b6cb0;
  /* Set your desired background color for the selected category on hover */
  border-color: #2c5282;
  /* Set your desired border color for the selected category on hover */
}

/* Common styles for both large and small screens */
.section_title {
  position: relative;
  padding: 0;
  margin: 0;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.section_title span {
  display: block;
  line-height: 1.3;
}

.section_title em {
  font-style: normal;
}

/* Style 7 ----------------------------- */
.seven h1 {
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
  @apply text-dark dark:text-white font-bold;
}

.seven h1:after,
.seven h1:before {
  content: " ";
  display: block;
  border-bottom: 1px solid;
  border-top: 1px solid;
  @apply border-primary;
  height: 5px;
  background-color: #f8f8f8;
}

/* Responsive styles for small screens (e.g., mobile devices) */
@media (max-width: 767px) {
  .seven h1 {
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.5rem;
    /* Adjust the font size for small screens */
  }
}

/* Responsive styles for larger screens (e.g., tablets and desktops) */
@media (min-width: 768px) {
  .seven h1 {
    text-align: center;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 2rem;
    /* Adjust the font size for larger screens */
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
  }


  .seven h1:before,
  .seven h1:after {
    content: "";
    display: block;
    border-bottom: 1px solid;
    border-top: 1px solid;
    @apply border-primary;
    height: 5px;
    background-color: #f8f8f8;
  }
}

.ten h1:before {
  @apply bg-primary;
  border-radius: 0.25rem;
  content: '';
  display: block;
  height: 0.25rem;
  width: 42px;
  margin-bottom: 1.25rem;
}

/* Your existing text color styles for light and dark themes */
.seven h1,
.ten h1 {
  @apply text-dark dark:text-white;
}




$facebook: #3B5998;
$twitter: #1DA1F2;
$linkedin: #0077b5;
$instagram: #E1306C;

.menu {
  text-align: center;
  position: relative;
  margin: auto;
  transform-style: preserve-3d;
  padding: 0;
  list-style-type: none;
  text-align: center;
  top: 50%;
  transform: translateY(4%);

  li {
    transform-style: preserve-3d;
    position: relative;
    margin: 40px;
    display: inline-block;
    transform: rotateX(-20deg) rotateY(45deg);
    animation: move 2s ease infinite;
    z-index: -1;

    a {
      height: 100px;
      width: 100px;
      display: inline-block;
      line-height: 120px;
      color: #fff;
      text-decoration: none;
      position: relative;
      display: flex;
      border-radius: 10px;
      justify-content: center;
      align-items: center;

      // &::before {
      //   content: "";
      //   position: absolute;
      //   height: 100%;
      //   width: 100%;
      //   left: -100%;
      //   top: 0;
      //   bottom: 0;
      //   margin: auto;
      //   transform-origin: right;
      //   transform: rotateY(-90deg);
      //   transform-style: preserve-3d;
      //   border-radius: 10px;
      // }

      // &::after {
      //   content: "";
      //   position: absolute;
      //   height: 100%;
      //   width: 100%;
      //   top: 0;
      //   bottom: 0;
      //   left: 0;
      //   right: 0;
      //   margin: auto;
      //   transform: rotateX(-90deg);
      //   transform-origin: top;
      // }

      svg {
        font-size: 3rem;
        text-shadow:
          0px 0px 2px rgba(0, 0, 0, 0.5),
          1px 1px 2px rgba(0, 0, 0, 0.5),
          2px 2px 2px rgba(0, 0, 0, 0.5);
      }
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -20px;
      margin: auto;
      height: 100%;
      width: 100%;
      display: inline-block;
      background-color: rgba(0, 0, 0, 0.2);
      transform-origin: bottom;
      transform: rotateX(90deg) translateY(0px);
      z-index: -1;
      animation: shadowAnimation 2s ease infinite;
      border-radius: 10px;
    }
  }

  @for $i from 1 through 4 {
    li:nth-child(#{$i}) {
      animation-delay: #{$i*0.2}s;

      &::after {
        animation-delay: #{$i*0.2}s;
      }
    }
  }
}

.facebook {
  background-color: $facebook;

  // &::before {
  //   background-color: darken($facebook, 20%);
  // }

  // &::after {
  //   background-color: darken($facebook, 30%);
  // }
}

.twitter {
  background-color: $twitter;

  // &::before {
  //   background-color: darken($twitter, 20%);
  // }

  // &::after {
  //   background-color: darken($twitter, 30%);
  // }
}

.instagram {
  background-color: $instagram;

  // &::before {
  //   background-color: darken($instagram, 20%);
  // }

  // &::after {
  //   background-color: darken($instagram, 30%);
  // }
}


.linkedin {
  background-color: $linkedin;

  // &::before {
  //   background-color: darken($linkedin, 20%);
  // }

  // &::after {
  //   background-color: darken($linkedin, 30%);
  // }
}

@keyframes move {

  0%,
  100% {
    transform: rotateX(-20deg) rotateY(45deg) translateY(-10px);
  }

  50% {
    transform: rotateX(-20deg) rotateY(45deg) translateY(10px);
  }
}

@keyframes shadowAnimation {

  0%,
  100% {
    bottom: -40px;
    opacity: 0.2;
  }

  50% {
    bottom: -10px;
    opacity: 1;
  }
}


.service_section_title h2 {
  @apply text-white;
}



.grp-img {
  position: relative;
  width: 125px;
  height: 45px;
}
.grp-img img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  border: solid 2px white;
  position: absolute;
  top: 0;
  left: 0;
}
.grp-img .i1 {
  z-index: 1;
}
.grp-img .i2 {
  left: 40px;
}
.grp-img .i3 {
  left: 80px;
}
.grp-info {
  padding: 0 15px;
}
.grp-name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 3px;
}
.grp-status {
  letter-spacing: 1px;
}

.chatbox {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.chatbox .chat {
  display: flex;
  gap: 15px;
}
.chatbox img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  border: solid 2px white;
}

.chatbox .chat:nth-child(even) {
  flex-direction: row-reverse;
}
.chatbox .chat:nth-child(odd) ion-icon {
  left: -14px;
}
.chatbox .chat:nth-child(even) ion-icon {
  right: -14px;
  transform: rotate(180deg);
}

.policy {
  background: #3a384c;
  padding: 25px;
  border-radius: 0 0 10px 10px;
}
.policy p {
  font-size: 13px;
}
.policy p a {
  font-size: 13px;
  color: #ff6969;
  text-decoration: underline;
}
.agree {
  display: inline-block;
  color: #ff6969;
  border: solid 2px #ff6969;
  border-radius: 50px;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
}
.agree:hover {
  color: white;
  background: #ff6969;
}

.close {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #ff6969;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -80px;
  right: 0;
}
.close:hover {
  box-shadow: #292739 0 0 10px 10px;
}
.close:hover ion-icon {
  transform: rotate(360deg);
}
.close ion-icon {
  font-size: 40px;
}
