/* Define the styles for the scrollbar track (the background) */
::-webkit-scrollbar {
  width: 12px;
  /* Width of the scrollbar */
}

/* Define the styles for the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #325aa5;
  /* Color of the scrollbar thumb */
  border-radius: 6px;
  /* Rounded corners for the thumb */
  cursor: pointer;
}

/* Define the styles for the scrollbar track when it's hovered over */
::-webkit-scrollbar-thumb:hover {
  background: #1f3764;
  /* Color of the thumb on hover */
}

html {
  @apply text-base;
  scroll-behavior: smooth;
}

[lang="ar"] {
  --dir: rtl;
}

body {
  @apply bg-body font-third font-normal leading-relaxed text-text;
  direction: var(--dir);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-primary font-bold leading-tight text-dark;
}

h1,
.h1 {
  @apply font-primary text-h1-sm md:text-h1;
}

h2,
.h2 {
  @apply text-h2-sm md:text-h2;
}

h3,
.h3 {
  @apply text-h3-sm md:text-h3;
}

h4,
.h4 {
  @apply text-h4;
}

h5,
.h5 {
  @apply text-h5;
}

h6,
.h6 {
  @apply text-h6;
}

code {
  @apply before:hidden after:hidden;
}








/* Add this CSS in your styles file or component */
.portfolio-item {
  position: relative;
  height: 300px;
  /* Set your desired fixed height */
}

.portfolio-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  /* Dark overlay color */
  opacity: 0;
  display: flex;
  align-items: flex-end;
  transition: opacity 0.3s;
}

.portfolio-item:hover .overlay {
  opacity: 1;
}

.overlay-content {
  padding: 16px;
}

.name {
  color: #fff;
  font-size: 18px;
  margin: 0;
  transform: translateY(100%);
  transition: transform 0.3s;
}

.portfolio-item:hover .name {
  transform: translateY(0);
}

/* Add this CSS in your styles file or component */
.selected-category {
  border-color: #3182ce;
  /* Set your desired color for the selected category */
  background-color: #4299e1;
  /* Set your desired background color for the selected category */
  color: #fff;
  /* Set your desired text color for the selected category */
}

.selected-category:hover {
  background-color: #2b6cb0;
  /* Set your desired background color for the selected category on hover */
  border-color: #2c5282;
  /* Set your desired border color for the selected category on hover */
}

.section_title {
  position: relative;
  padding: 0;
  margin: 0;
  font-weight: 300;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.section_title span {
  display: block;
  line-height: 1.3;
}

.section_title em {
  font-style: normal;
  font-weight: 600;
}

/* Style 7
   ----------------------------- */
.seven h1 {
  text-align: center;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;

  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
  @apply text-dark dark:text-white
}

.seven h1:after,
.seven h1:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #c50000;
  border-top: 1px solid #c50000;
  height: 5px;
  background-color: #f8f8f8;
}

